@use "../../assests/style/variables.scss" as *;

.link.active {
    color: red !important;
}

.hidden {
    display: none;
}

$main-bg-color: white;
$border-color: #eaeaea;
$text_color: #323232;
$text-size: 16px;
$header-padding: 0 50px;
$icon-size: 20px;
$content-bg-color: #f3f3f3;


@mixin textHeader {
    font-weight: 500;
    $text_color: #323232;

}

@mixin btnGroup {
    outline: none;
    border-radius: 10px;
    padding: 9px 12px;
    border: none;
    font-size: 14px;
    color: white;
}


@mixin rescon {
    width: 96%;
    margin: 10px auto;
}

.fixedNav {
    width: 100%;
    position: fixed;
    top: 49px;
    margin-top: 0;
    z-index: 2;
    margin: 0 !important;
}


.reponseive-container {
    position: absolute;
    height: 100vh;
    width: 100%;
    right: 0;
    top: 0;
    z-index: 10000;
    background-color: #E7E7E7;

    &>* {
        border-radius: 10px;
        padding: 20px 10px;
    }

    &>:first-child {
        margin: 0;
        border-radius: 0;
    }

    .res-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;

        h4 {
            font-weight: 500;
            font-size: 18px;
        }

        .times {
            font-size: 26px;
        }
    }

    button {
        display: flex;
        align-items: center;
        justify-content: center;
        @include rescon;
        padding: 10px 0;
        background-color: white;
        border: 1px solid black;

        span {
            padding-left: 5px;
        }
    }

    .warning {
        background-color: #E6F5FA;
        display: flex;
        align-items: center;
        @include rescon;

        .info {
            width: 30px;
            height: 20px;
        }

        p {
            margin-left: 10px;
            font-size: 14px;
            width: 90%;

            strong {
                font-weight: 600;
            }
        }
    }

    .signInToYourAccount {
        display: flex;
        align-items: center;
        gap: 20px;
        background-color: white;
        @include rescon;

        .fa-user-res {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            border: 1px solid #323232;

            * {
                font-size: 22px;
            }
        }

        .href {
            display: flex;
            flex-direction: column;
        }

    }

    .cart-balance-heart-res {
        @include rescon;

        display: flex;
        gap: 10px;
        padding: 5px 0;



        a {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 72px;
            background-color: white;
            gap: 6px;
            flex: 1;
            border-radius: 10px;

            span {
                position: relative;
            }

            .cart-length {
                position: absolute;
                right: 0;
                left: 60%;
                top: -34px;
                background-color: red;
                border-radius: 5px;
                color: white;
                width: 15px;
                font-size: 12px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .icon-res {
                font-size: 20px;

            }
        }
    }

    .pages {
        background-color: white;
        @include rescon;
        padding: 0 10px;
        display: none;

        div {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 14px 0;

            a {
                font-weight: 500;

            }

            &:nth-child(even) {
                border-top: 1px solid $border-color;
                border-bottom: 1px solid $border-color;
            }

        }
    }

    .contact-res {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: white;
        @include rescon;

        .cont-res {
            border-bottom: 1px solid $border-color;
            font-weight: 600;
            padding: 10px 0;


            &>span {
                font-weight: 700;
                font-size: 21px;
                padding: 0 10px;
            }
        }

        .social-icons {
            padding: 10px 0;
            display: flex;
            align-items: center;

            a:not(:first-child) {
                margin-left: 10px;
            }
        }
    }
}

@mixin header-button {
    padding: 8px 15px;
    color: #323232;
    border-radius: 10px;

}



header {
    padding: 10px 40px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    background-color: white;
    z-index: 3;

    .logo {
        width: 35%;

        img {
            width: 155px;
            height: 34px;
        }
    }

    .links {
        display: flex;
        justify-content: flex-end;
        width: 30%;
        gap: 20px;
        color: #323232;
        font-weight: 500;
    }

    .register {
        width: 35%;
        text-align: right;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .fa-user-icon {
            display: none;
            font-size: 18px !important;
        }

        .cont {
            font-weight: 600;
            font-size: 20px;
            margin-right: 24px;
        }

        .color {
            color: #ff003c;
        }

        .payment {
            padding: 8px 15px;
            border: 1px solid #17a539;
            color: #17a539;
            font-size: 14px;
            border-radius: 10px;
            font-weight: 500;
            margin-right: 16px;
            background-color: white
        }

        .signIn {
            @include header-button();
            background-color: $content-bg-color;
            margin-right: 24px;
        }

        .language {
            font-size: 18px;
            display: flex;
            align-items: center;

            .down {
                font-size: 12px;
                padding-left: 5px;
            }
        }
    }
}

nav {
    padding: 10px 40px;
    display: flex;
    background-color: white;
    margin-top: 1px;
    border-bottom: 1px solid $content-bg-color;
    z-index: 3 !important;

    .katalog {
        width: 300px;
        display: flex;
        align-items: center;
        gap: 10px;

        .grid {
            font-size: 22px;
        }

        img {
            visibility: hidden;
        }
    }

    .search {
        width: 80%;

        .search-bar {
            position: relative;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-size: 18px;
            width: 100%;

            .search-box {
                width: 100%;
                display: flex;
                align-items: center;

                .times {
                    position: absolute;
                    right: 0;
                    width: 100px;
                    display: flex;
                    align-items: center;
                    display: none;

                    * {
                        font-size: 20px;
                    }
                }
            }

            .search-icon {
                position: absolute;
                left: 10px;
            }

            .search-response {
                display: flex;
                position: absolute;
                top: 40px;
                width: 100%;
                min-height: 200px;

                &:hover {
                    display: block;
                }

            }



            input {
                width: 100%;
                border-radius: 10px;
                padding: 10px 20px;
                font-size: 16px;
                height: 40px;
                background-color: $content-bg-color;
                text-indent: 20px;
                color: #777;
                transition: 600ms;



                &:hover {
                    background-color: white;
                    border: 1px solid black;

                }
            }
        }
    }

    .basket {
        width: 300px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 30px;
        position: relative;

        span {
            position: relative;
            display: flex;
            align-items: center;

            .cart-length {
                position: absolute;
                top: -7px;
                right: -13px;
                border-radius: 5px;
                background-color: red;
                font-size: 10px;
                color: white;
                width: 15px;
                height: 15px;
                display: flex;
                justify-content: center;
            }
        }

        a {
            font-size: 20px;
        }

        .like {
            border-left: 1px solid $content-bg-color;
            border-right: 1px solid $content-bg-color;
            padding: 0 15px;
        }
    }
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;

    .modal {
        background: white;
        width: fit-content;
        max-width: 90%;
        height: 228px;
        padding: 20px 30px;
        border-radius: 8px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    
        .modal-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
    
            .title {
                font-weight: 600;
                font-size: 16px;
            }
    
            button {
                background: transparent;
    
                .icon-times-sign {
                    font-size: 25px;
                }
            }
        }
    
        .modal-images {
            display: flex;
            flex-wrap: wrap;
    
            gap: 18px;
    
            a {
                padding: 10px;
                border-radius: 10px;
                background-color: $content-bg-color;
            }
    
            img {
                width: 140px;
                height: 54px;
                object-fit: contain;
            }
    
        }
    
        .modal-content {
            display: flex;
            flex-direction: column;
    
            div {
                display: flex;
                align-items: center;
                gap: 5px;
                background-color: #E6F5FA;
                padding: 12px 16px;
                border-radius: 10px;
                font-size: 14px;
                font-weight: 500;
    
                .info-icon {
                    font-size: 20px;
                }
            }
    
        }
    
        button {
            padding: 15px;
            border-radius: 10px;
            font-size: 18px;
            font-weight: 500;
        }
    }
}


@media screen and (max-width:650px) {
    .modal-overlay {
        .modal {
            width: 90%;
            min-width: 90%;
            height: auto;

            .modal-images {
                justify-content: center;
            }
        }
    }
}


@media screen and (max-width:1160px) {
    header {
        justify-content: space-between;
        padding: 10px 10px;

        .links,
        .register>.payment,
        .signIn {
            display: none;
        }

        .logo {
            width: 20%;
        }

        .register {
            width: 70%;

            .fa-user-icon {
                display: flex;
                margin-left: 14px;
            }

            .cont {
                font-size: 16px;
            }
        }
    }

    nav {
        padding: 0;
        height: 50px;

        .search {
            width: 100%;
            display: flex;
            align-items: center;


            div {
                width: 100%;

                input {
                    background-color: white !important;
                    height: 100%;

                }
            }
        }

        .katalog {
            width: 100px;

            span {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                border-right: 1px solid $content-bg-color;
                width: 50px;
            }

            .grid {
                height: 100%;

            }

            div,
            img {
                display: none;
            }
        }

        .basket {
            width: 100px;

            .compar,
            .like {
                display: none;
            }

            .cart {
                width: 50px;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                span {
                    .cart-length {
                        right: 1px;
                        top: 5px;
                    }
                }

                .cart {
                    border-left: 1px solid $content-bg-color;

                }
            }
        }
    }

}

@media screen and (max-width:760px) {
    nav {

        .search-bar-res {
            position: absolute;
            z-index: 60;
            width: 100%;

            .search-box {
                position: fixed;
                top: 0px !important;
                left: 0;
                width: 100%;
                z-index: 6;
                height: 50px;
                padding: 0;
                margin: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: white;

                .search-icon {
                    display: none;
                }

                input {
                    width: 80%;
                    border-radius: 5px;
                    background-color: $content-bg-color !important;
                    text-indent: 10px;
                    margin-left: 20px;
                    height: 34px;
                }

                .times {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    align-self: flex-start;
                    width: 20%;
                    height: 100%;
                    background-color: white;
                    font-size: 25px;
                }
            }

            .search-response {
                height: 100%;
                position: fixed;
                top: 0;
                left: 0;
            }
        }


    }
}






.categories::-webkit-scrollbar {
    width: 2px;
}

.categories::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.categories::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 6px;
}