$border-color:#eaeaea;

.slider-container{
  width: 94%;
  margin: 800px auto 10px;
    background-color: white;
    

    .slider-item{
        border: 1px solid $border-color;
        border-radius: 10px;
        display: flex !important;
        align-items: center;
        margin: 10px !important;
        width: 65px !important;
        height: 65px !important;
        
    }
    .slick-prev {
        display: none;

      }
      .slick-next {
        display: none;
      }
}
@media screen and (max-width:1160px) {
  .slider-container{
    margin: 20px auto 10px;
    width: 98%;

  }
}