@use "../categoryContent/category-content.scss" as *;
$main-bg-color: white;
$text_color: #323232;


.category-list {
    position: absolute;
    margin-left: 30px;
    top: 180px;
    width: 20%;
    height: 600px;
    overflow: hidden;
    border-radius: 10px;
    z-index: 2 !important;
    padding: 10px 10px;
    background-color: white;
    display: flex;
    flex-direction: column;

    &:hover {
        overflow-y: auto;

    }

    .res-katalog {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
        display: none;
    }

    a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 0;

        &:hover {
            * {
                color: red;
            }

            img {
                filter: brightness(0) saturate(100%) invert(20%) sepia(100%) saturate(5000%) hue-rotate(0deg) brightness(100%) contrast(100%); // Şəkillər qırmızı olsun
            }

            .svg {
                filter: brightness(0) saturate(100%) invert(20%) sepia(100%) saturate(5000%) hue-rotate(0deg) brightness(100%) contrast(100%); // Ox iconu qırmızı olsun
            }
        }

    }

    .category-name {
        display: flex;
        align-items: center;
        font-size: 14px;

        div {
            margin-left: 10px;
        }
    }
}

.responsive-menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 0;
    z-index: 4 !important;
    padding: 10px 10px;
    background-color: white;
    display: flex;
    flex-direction: column;

    .res-katalog {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
        display: flex;
    }

    a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 0;
    }

    .category-name {
        display: flex;
        align-items: center;
        font-size: 14px;

        div {
            margin-left: 10px;
        }
    }
}



@media screen and (max-width:1160px) {
    .category-list {
        left: -100% !important;
        margin-left: 0;
        border-radius: 0 !important;
    }
}




.category-list::-webkit-scrollbar {
    width: 2px;
}

.category-list::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.category-list::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 6px;
}