<<<<<<< HEAD
.capmaignLogo{
    position: fixed;
    top: 0;
    z-index: 3;
    img{
        width: 100%;
        height: 50px;
        object-fit: cover;
        object-position: left;
    }
}
=======
.capmaignLogo {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 3;

    img {
        height: 50px;
        width: 100%;
        object-fit: cover;
        object-position: left;
    }
}

>>>>>>> fcbdd86 (front final)
