@use "../../../../assests/style/mixin.scss" as *;
@use "../../../../assests/style/variables.scss";
$item-background: #ff003c;
$main-bg-color: white;
$footer-bg-color: white;
$content-bg-color: #f3f3f3;
$icon-size: 20px;
$text-size: 16px;
$border-color: #eaeaea;
$header-padding: 0 50px;
$footer-item-color: #777;
$sales-button-bg: #eaeaea;
$bg-white: white;
$padding-container: 10px 50px;

///////////////
$page-header-width: 94%;
$font-weight: 600;
$bg-white: white;
$page-radius: 10px;
$text-color: #323232;
$link-color: #b0b01d;
$footer-item-color: #777;
$border-color: #eaeaea;
$footer-bg-color: white;

.activePrd {
    background-color: #323232 !important;
    color: white !important;
}

.top {
    position: fixed;
    left: 0;
    top: 188px !important;
    background-color: white;
    width: 100%;
    height: 9%;
    display: flex;
    align-items: center;
    margin-top: 0;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    padding: 18px 25px;
    z-index: 10 !important;

    button {
        background-color: #F7F5F5;
        padding: 8px 12px;
        border-radius: 30px;
        margin-left: 10px;
        font-size: 14px;
        font-weight: 500;
    }
}

@mixin youtubeDesign {
    border-radius: 10px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $border-color;

    img {
        width: 40px;
        height: 40px;
    }
}

$border-radius: 10px;

.details {
    margin: 0 45px;


    .head-container {
        margin: 10px 0;
        position: relative;
        display: flex;
        height: auto;
        gap: 10px;

        .head-images,
        .head-short-info {
            border-radius: $border-radius;
        }

        .head-images {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            overflow: hidden;

            .section-1 {
                height: 100%;
                background-color: white;
                border-radius: $border-radius;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .img-slide {
                width: 150px;
                display: flex;
                flex-direction: column;
                align-items: center;


                button {
                    background-color: $content-bg-color;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .up-icon,
                    .down-icon {
                        font-size: 25px;
                    }
                }

                .slide-container {
                    display: flex;
                    flex-direction: column;
                    height: 400px;
                    overflow: hidden;

                    img {
                        width: 80px;
                        height: 80px;
                        margin: 10px 0;
                        cursor: pointer;

                    }

                    .youtube {
                        border: 1px solid $border-color;
                        @include youtubeDesign();
                    }


                }
            }

            .img-main {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 90%;
                    height: 90%;
                }
            }

            .url {
                @include youtubeDesign();
                border: none;
                margin-right: 10px;
                height: 500px;
                display: flex;
                align-items: flex-end;

                span {
                    display: flex;
                    align-items: center;
                    padding: 5px;
                    border: 1px solid $border-color;
                    border-radius: 10px;
                }

                img {
                    justify-content: flex-end;
                    padding: -5px;

                }
            }

            .comment {
                background-color: white;
                width: 100%;
                height: 7%;
                display: flex;
                align-items: center;
                margin-top: 10px;
                border-radius: $border-radius;
                z-index: 20;

                button {
                    background-color: #F7F5F5;
                    padding: 6px 12px;
                    border-radius: 30px;
                    margin-left: 10px;
                    font-size: 14px;
                    font-weight: 500;
                }
            }

        }

        .head-short-info {
            width: 50%;
            background-color: white;
            display: flex;
            flex-direction: column;
            position: relative;

            .section-title {
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                border-bottom: 1px solid $border-color;
                display: flex;
                flex-direction: column;
                background-color: white;
                padding: 20px;


                .title {
                    font-size: 24px;
                    font-weight: 600;
                    letter-spacing: -0.03em;
                }

                .deliver-time {
                    margin: 15px 0;
                    padding: 2px 0;
                    font-weight: 500;
                    width: 100%;
                    font-size: 14px;

                    span {
                        color: #ff003c;
                        background-color: #FFE6EC;
                        padding: 3px 4px;
                        border-radius: 5px;
                    }
                }

                .exist-container {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .product-star {
                        display: flex;
                        align-items: center;
                        width: 160px;
                        justify-content: space-between;

                        span {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border: 1px solid $border-color;
                            border-radius: 10px;
                            height: 30px;
                            font-size: 14px;

                            .cmt {
                                margin-left: 10px;
                            }

                            div {
                                padding-right: 5px;
                            }
                        }

                        img {
                            width: auto;
                            height: 30px;
                        }
                    }

                    .exist {
                        font-size: 14px;
                        display: flex;

                        span {
                            color: #17A539;
                            font-weight: 500;
                            margin-right: 10px;
                        }
                    }
                }
            }

            .toCart {
                display: flex;
                flex-direction: column;
                background-color: white;
                padding: 20px;
                border-bottom: 1px solid $border-color;

                .fshp {
                    position: relative;

                    img,
                    span>img {
                        width: 20px;
                        height: 20px;
                    }

                    .spin {
                        position: absolute;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        img{
                            transform: scale(1.2);
                        }
                    }
                }

                .inCart {
                    background-color: $content-bg-color !important;

                    * {
                        color: #323232 !important;
                    }

                }

                .sale {
                    span {
                        background-color: #ff003c;
                        border-radius: 5px;
                        font-size: 14px;
                        font-weight: 600;
                        color: white;
                        padding: 5px;
                    }
                }

                .price {
                    font-size: 24px;
                    font-weight: 700;
                    margin: 15px 0;

                    .actual-price {
                        color: #ff003c;
                    }

                    .price-before {
                        color: #777;
                        font-weight: 500;
                        text-decoration: line-through;
                    }

                }

                .btn,
                .buttonEvent {
                    display: flex;
                    justify-content: space-between;
                    gap: 10px;
                    z-index: 2;

                    button {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 56px;
                        border-radius: 10px;
                        font-size: 18px;
                        font-weight: 500;

                        span {
                            margin-left: 7px;
                        }

                        &:nth-child(1) {
                            background-color: #ff003c;

                            * {
                                color: white;
                            }

                        }


                        &:nth-child(1),
                        &:nth-child(2) {
                            width: 100%;
                        }

                        &:nth-child(2) {
                            border: 1px solid black;
                            background: none;
                            .fa-balance{
                                *{
                                    @include fa-balance;
                                }
                            }
                        }

                        &:nth-child(3),
                        &:nth-child(4) {
                            width: 150px;
                            font-size: 20px;
                        }
                    }

                    .buttonEvent {
                        z-index: 1;

                        button {
                            width: 50px;
                            border: none;
                            background-color: $content-bg-color;

                            * {
                                color: #323232;
                            }
                        }
                    }
                }
            }

            .creditCalc {
                display: flex;
                flex-direction: column;
                padding: 20px;
                background-color: white;
                border-bottom: 1px solid $border-color;

                .credit-title {
                    font-size: 16px;
                    font-weight: 600;
                }

                .case {
                    color: #777;
                    font-size: 12px;
                    padding: 7px 0 10px 0;
                }

                .credit-month {
                    display: flex;
                    justify-content: space-between;
                    border: 1px solid $border-color;
                    border-radius: 10px;

                    .month {
                        width: 100%;
                        display: flex;
                        justify-content: space-around;

                        .column {
                            width: 60%;
                            display: flex;
                            margin-top: 10px;
                            justify-content: space-between;

                            .percent {
                                display: flex;
                                flex-direction: column;
                                align-items: center;

                                .visible {
                                    visibility: hidden;
                                }

                                span {
                                    &:first-child {
                                        color: #ff003c;
                                        font-size: 10px;
                                    }

                                    &:last-child {
                                        cursor: pointer;
                                        background-color: $content-bg-color;
                                        color: #323232;
                                        font-weight: 600;
                                        width: 38px;
                                        height: 38px;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        padding: 4px;
                                        border-radius: 50%;
                                        font-size: 12px;
                                        background-color: $content-bg-color;
                                    }

                                }
                            }
                        }
                    }

                    .month-price {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        border-left: 1px solid $border-color;
                        padding: 19px 0;
                        width: 140px;
                        color: #323232;

                        span {
                            white-space: nowrap;

                            &:first-child {
                                font-size: 12px;
                                font-weight: 500;
                            }

                            &:last-child {
                                font-weight: 600;
                                margin-top: 10px;
                            }
                        }
                    }
                }

                .info {
                    display: flex;
                    align-items: center;
                    margin-top: 10px;

                    .info-icon {
                        font-size: 20px;

                        * {
                            color: #777;
                        }
                    }

                    p {
                        margin-left: 10px;
                        font-size: 12px;
                    }
                }
            }

            .part-section {
                display: flex;
                flex-direction: column;
                padding: 20px;
                background-color: white;
                border-bottom: 1px solid $border-color;

                .part-title {
                    font-size: 16px;
                    font-weight: 600;
                    margin: 7px 0;
                }

                .credit-card {
                    display: flex;
                    align-items: center;

                    img {
                        border-radius: 5px;
                    }

                    &>span {
                        display: flex;
                        align-items: center;
                        border: 1px solid black;
                        border-radius: 10px;
                        padding: 3px;
                        font-size: 14px;
                        font-weight: 500;

                        span {
                            margin-left: 10px;
                        }

                    }
                }
            }

            .otherServices {
                background-color: white;
                padding: 20px;
                display: flex;
                flex-direction: column;
                border-bottom: 1px solid $border-color;
                border-radius: 10px;

                .other-title {
                    font-size: 16px;
                    font-weight: 600;
                }

                .services-button {
                    width: 120px;
                    border-radius: 10px;
                    padding: 8px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: $content-bg-color;
                    margin: 10px 0;

                    .circle {
                        font-size: 20px;

                        * {
                            color: #777;

                        }
                    }

                    span {
                        padding-left: 10px;
                        font-size: 14px;
                    }
                }
            }



        }

    }
}

@media screen and (max-width:1150px) {
    .top {
<<<<<<< HEAD
        top: 105px;
=======
        top: 95px !important;
>>>>>>> fcbdd86 (front final)
    }

    .details {
        margin: 0;
        position: relative;

        .head-container {
            flex-wrap: wrap;

            .head-short-info {
                width: 100%;

                .section-title {
                    margin-bottom: 370px;
                    padding: 10px;

                    .title {
                        font-size: 18px;
                    }

                    .exist-container {
                        flex-wrap: wrap;

                        .exist {
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            margin-top: 15px;

                            div {
                                margin-right: 10%;
                            }

                            span {
                                margin-right: 0px;
                            }
                        }

                    }
                }

                .toCart {
                    padding: 10px;

                    .btn {
                        &>button>span {
                            font-size: 14px;
                        }

                        .buttonEvent {
                            flex-direction: column;
                            position: absolute;
                            top: 86px;
                            right: 10px;

                            button {
                                margin: 10px 0;
                                height: 44px;
                                width: 44px;
                            }
                        }
                    }
                }

                .creditCalc {
                    padding: 10px;

                    .credit-month {
                        flex-direction: column;

                        .month {
                            order: 2;
                            padding: 15px 0;

                            .column {
                                width: 40%;
                                justify-content: center;
                                margin-top: 0;
                                gap: 10px;

                                .percent {
                                    padding: 2px;
                                }
                            }
                        }

                        .month-price {
                            border-left: none;
                            border-bottom: 1px solid $border-color;
                            padding: 12px 20px;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;
                            gap: 20px;
                            width: 100%;

                            span {
                                &:first-child {
                                    font-size: 14px;
                                    color: #777;
                                }

                                &:last-child {
                                    margin: 0;
                                }
                            }
                        }
                    }
                }

                .part-section,
                .otherServices {
                    padding: 10px;
                }
            }

            .head-images {
                flex-direction: row;
                width: 100%;
                height: 350px;
                position: absolute;
                top: 180px;
                padding: 0;
                margin: 0;

                .section-1 {
                    width: 100%;
                    height: 300px;
                    flex-wrap: wrap;
                    position: relative;
                    margin: 0 auto;
                    z-index: 2;


                    .url {
                        order: 1;
                        height: 100px;
                        position: absolute;
                        left: 10px;
                        top: 0;
                        align-items: flex-start;
                    }

                    .img-main {
                        order: 2;

                        img {
                            width: 224px;
                        }
                    }

                    .img-slide {
                        order: 3;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        height: auto;

                        img {
                            margin: 0 5px;
                            border: 1px solid $border-color;
                        }

                        .youtube {
                            display: none;
                        }

                        button {
                            display: none;
                        }

                        .slide-container {
                            flex-direction: row;
                            align-items: center;
                            height: auto;

                            img {
                                height: 44px;
                                width: 44px;
                            }
                        }
                    }
                }

                .comment {
                    display: none;
                }
            }
        }
    }
}
