$item-background:#ff003c;
$main-bg-color:white;
$footer-bg-color:white;
$content-bg-color:#f3f3f3;
$icon-size:20px;
$text-size:16px;
$border-color:#eaeaea;
$header-padding:0 50px;
$footer-item-color:#777;
$sales-button-bg:#eaeaea;
$bg-white:white;
$padding-container:10px 50px;

///////////////
$page-header-width:94%;
$font-weight:600;
$bg-white:white;
$page-radius:10px;
$text-color:#323232;
$link-color:#b0b01d;
$footer-item-color:#777;
$border-color:#eaeaea;
$footer-bg-color:white;
